go 1.25.0

use (
	./services/fund-service
	./services/merchant-service
	./services/monitoring-service
	./services/order-service
	./services/product-service
	./services/tenant-service
	./services/user-service
	./shared
)
